.course-button {
    width: 150px;
    height: 150px;
    background-color: rgb(24,107,174);
    color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-button:hover {
    box-shadow: -11px 13px rgba(0, 128, 128, 0.4);
    transform: translate(10px, -10px);
    background-color: brown;
}