.course-buttons {
    padding: 40px 15% 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(126, 186, 188);
    height: 70px;
}

.regular-info-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-size: 30px;
}
